.slider {
    white-space: nowrap;
    scroll-behavior: smooth;
    border-radius: .5rem;
}

.slide,
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    scroll-snap-align: center;
    white-space: normal;
    margin: 0;

}

.hidden {
    visibility: hidden;
    opacity: 0;
    width: 0;
}

.slider.horizontal>.slide {
    display: inline-block;
}

.fhw-wrapper {
    width: 100%;
    height: 100%;
}

